body {
    align-items: center;
    background-image: url(2-forest.jpeg);
}

h1 {
    color: darkgreen;
    font-size: 75px;
}

p {
    font-family: sans-serif;
    color: #62645C;
    font-size: 15px;
}

#center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

