body {
    align-items: center;
    background-image: url(2-forest.jpeg);
}

h1 {
    color: darkgreen;
    font-size: 75px;
}

p {
    font-family: sans-serif;
    color: #62645C;
}

#center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}
